@use 'sass:color';

.v-alert__icon.v-icon {
  color: red !important;
}

.toasted-container.top-center {
  top: 5% !important;
}

.alert {
  justify-content: unset !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  filter: drop-shadow(0 4px 12px rgba(12, 30, 53, 0.16)) !important;
  border-radius: 32px !important;

  > i {
    width: 32px;
    height: 32px;
    padding: 2px 0;
    margin-right: 12px;
    font-size: 28px;
    font-weight: 800;
    line-height: 28px;
    text-align: center;
    border-radius: 16px;
  }

  .alert-message-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
  }

  .alert-message {
    font-family: $default-font-family !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 16px;
    letter-spacing: 0.01em;
  }

  .alert-description {
    padding-top: 4px;
    font-family: $default-font-family !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: black !important;
  }

  a {
    margin-left: auto !important;
  }

  a .mdi-close {
    justify-self: end;
    padding-left: 11px !important;
    margin-left: auto !important;
    font-size: 24px !important;
  }
}



.alert-info {
  color: black !important;
  background-color: color.change($primary-blue, $lightness: 60%, $saturation: 20%) !important;
  border: 1px solid $primary-blue !important;

  > i {
    padding-top: 2px;
    color: black !important;
    background-color: $primary-blue !important;
  }

  a .mdi-close {
    color: black !important;
  }

}

.alert-warning {
  color: black !important;
  background-color: color.change(orange, $lightness: 60%, $saturation: 20%) !important;
  border: 1px solid orange !important;

  > i {
    padding-top: 1px;
    color: black !important;
    background-color: orange !important;
  }

  a .mdi-close {
    color: black !important;
  }
}

.alert-error {
  color: black !important;
  background-color: color.change(red, $lightness: 60%, $saturation: 20%) !important;
  border: 1px solid red !important;

  > i {
    padding-top: 3px;
    color: black !important;
    background-color: red !important;
  }

  a .mdi-close {
    color: black !important;
  }
}

.alert.with-description {
  > i {
    align-self: flex-start;
  }
}
